*{
    margin: 0;
    padding: 0 auto;
}
html, body {
    position: relative;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}
div img{  
    cursor: pointer;  
    transition: all 0.5s; /* 所有的属性变化在0.5s的时间段内完成 */
}  
div img:hover{  
    transform: scale(1.5); /* 鼠标放到图片上的时候图片按比例放大1.5倍   */
} 
.row {
    position: relative;
    width: 100%;
    text-align: center;
}
audio{
    position: fixed;
    left: 0;
    width: 100px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color: firebrick;
}
.header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: firebrick;
    margin-bottom: 10px;
}
.wrap {
    position: relative;
    left: calc(50% - 600px);
    width: 1200px;
    color: #f2f2f2;
}
.header div p{
    display: inline-block;
    height: 30px;
    line-height: 50px;
}
.left-header {
    display: inline-block;
    position: relative;
    font-size: 14px;
}
.right-header {
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 14px;
}
.footer {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    background-color: firebrick;
    color: #f2f2f2;
    text-align: center;
}
.info-group {
    position: relative;
    margin: 0px;
    display: inline-block;
    width: 1200px;
    text-align: center;
}
.info-tite {
    font: bold 16px/20px sans-serif;
    margin-bottom: 20px;
}
.info-tite::before {
    content: '';
    position: absolute;
    top: 40px;
    left: calc(50% - 30px);
    height: 5px;
    width: 60px;
    background-color: firebrick;
}
.show-group {
    margin-top: 40px;
}
.show-item {
    display: inline-block;
    position: relative;
    width: calc(25% - 27px);
    max-height: 320px;
    border: solid 1px grey;
    margin-bottom: 10px;
}
.show-item:not(:nth-child(4n+0)) {
    margin-right: 28px;
}
.show-item img{
    position: relative;
    top: 5px;
    max-width: 180px;
    max-height: 280px;
}
.show-item p {
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
}
.self-desc {
    position: relative;
    height: 240px;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: firebrick;
    color: #f2f2f2;
    text-align: center;
}
.self-desc img {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 180px;
    height: 180px;
}
.self-wrap {
    position: relative;
    display: inline-block;
    width: 1200px;
    text-align: left;
    font-size: 16px;
}
.self-wrap p {
    position: absolute;
    top: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    max-width: 450px;
}

a, a:visited, a:link {
    color: white;
}
@media (min-width:790px) and (max-width: 1250px){
    .wrap{
        width: 800px;
        left: calc(50% - 400px);
    }
    .info-group {
        width: 800px;
    }
    .self-wrap {
        width: 800px;
    }
    .show-item img {
        max-width: 160px;
    }
}
@media (max-width: 800px){
    .wrap{
        width: 600px;
        left: calc(50% - 300px);
    }
    .info-group {
        width: 600px;
    }
    .self-wrap {
        width: 600px;
    }
    .show-item img {
        max-width: 120px;
    }
    .show-item:not(:nth-child(4n+0)) {
        margin-right: 28px;
    }
    .self-wrap p {
        max-width: 360px;
        text-indent: 2rem;
        font-size: 16px;
    }
}
@media (max-width: 500px){
    .wrap{
        width: 380px;
        left: calc(50% - 190px);
    }
    .info-group {
        width: 380px;
    }
    .self-wrap {
        width: 380px;
    }
    .show-item {
        width: calc(45% - 27px);
    }
    .show-item img {
        max-width: 110px;
    }
    .show-item:not(:nth-child(4n+0)) {
        margin-right: 0px;
    }
    .show-item:nth-child(odd){
        margin-right: 83px;
    }
    .self-wrap p {
        max-width: 220px;
        text-indent: 2rem;
        font-size: 12px;
    }
    .self-wrap img {
        width: 120px;
        height: 120px;
    }
}