* {
    margin: 0 auto;
    padding: 0;
}
body, html {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
#main {
    position: relative;
    width: 100%;
    height: auto;
    color: #f2f2f2;
}
.wrap {
    position: relative;
    display: inline-block;
    height: 80px;
}
.wrap img {
    vertical-align: bottom;
    width: 18px;
    height: 18px;
}
.head-div {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: indianred;
    text-align: center;
}
.head-div p {
    display: inline-block;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    color: black;
}
.foot-div {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color: indianred;
    text-align: center;
    color: black;
}
.body-div {
    margin: 10px 0px;
    position: relative;
    width: 100%;
    height: auto;
    color: rgb(43, 33, 33);
}
.col-div {
    vertical-align: top;
    display: inline-block;
    position: relative;
    text-align: left;
    left: 0;
}
.col-4 {
    width: calc(calc(99% / 24) * 4);
}
.col-20 {
    width: calc(calc(99% / 24) * 20);
}
.col-ul {
    position: fixed;
    left: 0;
    /* width: 180px; */
    text-align: left;
    list-style: none;
}
.col-li{
    text-indent: 12px;
    line-height: 32px;
    font-weight: bold;
    font-size: 14px;
}
.col-li:not(:last-child ){
    /* width: 180px; */
    border-bottom: solid 1px black;
}
.row-div {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}
.banner-div img {
    display: inline-block;
    width: 820px;
    text-align: center;
}
table{
    width: 820px;
    margin-top: 10px;
}
tr td:last-child::before{
    content: 'ï¿¥';
}
.content-div {
    position: relative;
    width: 100%;
    padding: 0px 10px;
}
.info-group {
    position: relative;
    text-align: left;
    margin: 10px 0px;
    width: 100%;
}
.info-title {
    display: block;
    height: 40px;
    text-align: left;
    font: bold 32px/40px Arial, Helvetica, sans-serif;
}
.info-img {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 190px;
    padding: 10px 0px;
    margin: 10px 0px;
    height: 150px;
}
.info-content {
    text-indent: 2em;
}
.info-content::first-letter {
    font-size: 32px;
}
a:visited {
    color: grey;
}
a, a:hover, .col-li:hover {
    color: black;
}