body {
    margin: 0 auto ;
    max-width: 800px;
    min-width: 600px;
}
img{  
    cursor: pointer;  
    transition: all 0.5s; /* 所有的属性变化在0.5s的时间段内完成 */
}  
img:hover{  
    transform: scale(1.5); /* 鼠标放到图片上的时候图片按比例放大1.5倍   */
}
body table {
    width: 100%;
    border-collapse:collapse;
    
}
